/* GLOBAL */

html {
    width: 100%;
    max-width: 60rem;
    margin: auto;
    font-size: 16px;
}

h1,
h2,
h3 {
    font-family: 'Chivo', sans-serif;
}

h2 {
    font-size: 2rem;
}

.cursive {
    font-family: 'Playfair Display', serif;
}

.yellow {
    color: #FFD527;
}

p,
a {
    font-family: 'Quattrocento', Serif;
    font-size: 1.125rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

/* NAVIGATION */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: white;
}

nav img {
    width: 2rem;
    padding: 0.3rem 0.3rem;
}

nav img:hover {
    transition: background-color 400ms;
    background-color: #FFD527;
    border-radius: 6.25rem; 
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    width: 30%;
}

.nav-links a {
    text-decoration: none;
    color: black;
    margin-left: 2rem;
}

.nav-links a:hover {
    background-color: #FFD527;
    border-radius: 6.25rem; 
}

.nav-links li {
    list-style: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 1.563rem;
    height: 0.125rem;
    background-color: black;
    margin: 0.313rem;
}

#home {
    display: none;
}

@media screen and (max-width: 1024px) {

    .nav-links {
        width: 40%;
    }

}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: absolute;
        right: 0rem;
        height: 92vh;
        top: 7vh;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        justify-content: center;
    }

    .nav-links a {
        color: black;
        font-size: 2.5rem;
        margin-left: 2rem;
    }

    .nav-links a:hover {
        transition: background-color 400ms;
        background-color: #FFD527;
        border-radius: 6.25rem; 
    }

    .burger {
        display: block;
        margin-right: 2rem;
    }

    .burger:hover {
        transition: background-color 400ms;
        background-color: #FFD527;
        border-radius: 6.25rem; 
    }

    .burger:active {
        background-color: #FFD527;
        border-radius: 6.25rem; 
    }

    #home {
        display: block;
    }
    
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {

    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


/* Header Section */

h1 {
    font-size: 7rem;
    padding-top: 3.75rem;
}

.teaser {
    font-size: 2.5rem;
    padding-left: 5rem;
    padding-bottom: 9.375rem;
    line-height: 1;
}

header {
    height: 100%;
}

@media screen and (max-width: 768px) {
    .teaser {
        padding-left: 0rem;
    }
}

/* PERSONAL PROJECTS */

.project-parent {
    display: flex;
    justify-content: space-between;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}

.project-container {
    display: flex;
    flex-basis: 30%;
    padding: 3.125rem 0.625rem;
    border: 0.094rem solid black;
    border-radius: 0.438rem;
    height: 12.5rem;
    align-items: center;
    flex-direction: column;
    justify-content: left;
}

.project-container:hover {
    transition: border 400ms;
    border: 0.094rem solid #FFD527;
    transition: background-color 400ms;
    background-color: #FFD527;
    cursor: pointer;
}

.skills {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9.375rem;
    margin-top: 3.125rem;
}

.skills a p {
    font-family: 'Playfair Display', serif;
    color: black;
    margin: 0rem auto;
}

.skills a:hover {
    transition: background-color 400ms;
    background-color: #FFD527;
    border-radius: 6.25rem; 
}

.skills img {
    height: 1rem;
}

@media screen and (max-width: 768px) {

    .project-parent {
        flex-direction: column;
    }

    .project-container {
        margin-bottom: 2rem;
    }


}

/* ABOUT ME SECTION */

.about-container {
    display: flex;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
    justify-content: space-between;
}

#about-img {
    border-radius: 15rem;
    width: 15rem;
    background-color: #FFD527;
}

.about-text {
    width: 66.6%;
}

.about-text a {
    color: black;
    text-decoration: underline;
}

.about-text a:hover {
    transition: background-color 400ms;
    background-color: #FFD527;
    border-radius: 6.25rem; 
}

.hobby-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3.125rem;
    margin-bottom: 9.375rem;
}

.hobby-container img {
    width: 4rem;
    padding: 0.6rem 0.6rem;
    background-color: #FFD527;
    border-radius: 6.25rem;
}

.hobby-container div {
    display: flex;
    flex-basis: 29.5%;
    padding: 3.125rem 0.625rem;
    height: 12.5rem;
    align-items: center;
    flex-direction: column;
    justify-content: left;
}

.hobby-container a {
    color: black;
    text-decoration: underline;
}

.hobby-container a:hover {
    transition: background-color 400ms;
    background-color: #FFD527;
    border-radius: 6.25rem; 
}

@media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column;
    }
    .about-text {
        width: 100%;
    }

    .hobby-container {
        flex-direction: column;
    }

    .hobby-container div {
        flex-direction: row;
        justify-content: space-between;
    }

    .hobby-container img {
        margin-right: 1.875rem;
    }
}

/* FOOTER */

.footer-section {
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem;
    margin-bottom: 5rem;
}

.work-with-me {
    display: flex;
    flex-direction: column;
    align-items: left;

}

.brief-me {
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    margin-top: 0;
}

.brief-me:hover {
    transition: background-color 400ms;
    background-color: #FFD527;
    border-radius: 6.25rem;
}

.friends {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.friends img {
    width: 2.5rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.friends img:hover {
    transition: background-color 400ms;
    background-color: #FFD527;
    border-radius: 6.25rem;
}

.copyright {
    text-align: center;
    padding-bottom: 3.125rem;
}

@media screen and (max-width: 768px) {

    .footer-section {
        flex-direction: column;
    }

    .work-with-me {
        align-items: center;
    }

    .friends {
        align-items: center;
    }
}